ul {
    list-style: none;
}
.menu {
    display: flex;
    list-style: none;
    border: 1px solid;
    li {
        position: relative;
        margin: 3px;
        padding: 5px;
        a {
            text-decoration: none;
        }
        .dropbox {
            position: absolute;
            list-style: none;
            display: flex;
            border: 1px solid;
            padding-left: 0;
        }
    }
    li:hover {
        cursor: pointer;
    }
}

.tit{
    padding-left: 0;
    text-align: center;
    li {
        white-space: nowrap;
    }
}

.category {
    font-weight: bold;
}